<section class='vignettes'>
	<div class='wrapper-line'>
		<h3>{{doc.vignetteHed}}</h3>
		{{#each doc.vignetteCopy}}
	    <p class='prose'>{{{value}}}</p>
	  {{/each}}
		<ul>
			{{#each doc.vignetteBullets}}
    	<li>{{{value}}}</li>
			{{/each}}
		<ul>
	</div>
	{{#each doc.vignettes}}
	<div class='athlete' id='{{lastName}}'>
		<div class='name-container'>
			<div class='name-container__left'>
				<p class='lastName lastName__left'>{{lastNameLeft}}</p>
				<div class='block__left'></div>
			</div>
			<div class='name-container__right'>
				<div class='block__right'></div>
				<p class='lastName lastName__right'>{{lastNameRight}}</p>
			</div>
		</div>
		<div class='athlete__body'>
			<div class='img-container'>
				<img alt='{{firstName}} {{lastName}} illustration' src='assets/images/{{image}}'/>
			</div>
			<div class='deets-container'>
				<div class='deets-container__text'>
					<p class='deets__name'>{{firstName}} {{lastName}}</p>
					<p class='deets__category'>{{category}}</p>
					<p>{{{text}}}</p>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</section>
