<section class='vignettes'>
	<div class='wrapper-line'>
		<h3>{{doc.vignetteHed}}</h3>
		{{#each doc.intro}}
	    <p class='prose'>{{{value}}}</p>
	  {{/each}}
	</div>
	{{#each doc.vignettes}}
	<div class='athlete' id='{{lastName}}'>
		<div class='name-container'>
			<div class='name-container__left'>
				<p class='lastName lastName__left'>{{lastNameLeft}}</p>
				<div class='block__left'></div>
			</div>
			<div class='name-container__right'>
				<div class='block__right'></div>
				<p class='lastName lastName__right'>{{lastNameRight}}</p>
			</div>
		</div>
		<div class='athlete__body'>
			<div class='img-container'>
				<img alt='{{firstName}} {{lastName}} illustration' src='assets/images/{{image}}'/>
			</div>
			<div class='deets-container'>
				<div class='deets-container__text'>
					<p><span>Full name: </span>{{firstName}} {{lastName}}</p>
					<p><span>League: </span>{{league}}</p>
					<p><span>Position: </span>{{position}}</p>
					<p><span>Dates: </span>{{startYear}}—{{endYear}}</p>
					<p>{{text}}</p>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</section>
